
@font-face {font-family: "lz-iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#lz-iconfont') format('svg'); /* iOS 4.1- */
}

.lz-iconfont {
  font-family:"lz-iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.lz-icon-wenjian:before { content: "\e626"; }
.lz-icon-duihua:before { content: "\e627"; }
.lz-icon-qiandai:before { content: "\e62f"; }
.lz-icon-yinliao:before { content: "\e602"; }
.lz-icon-qunren:before { content: "\e630"; }
.lz-icon-yuan-weibo:before { content: "\e635"; }
.lz-icon-quan:before { content: "\e618"; }
.lz-icon-qq:before { content: "\e636"; }
.lz-icon-shijian:before { content: "\e61d"; }
.lz-icon-search:before { content: "\e637"; }
.lz-icon-mima:before { content: "\e628"; }
.lz-icon-dianhua:before { content: "\e629"; }
.lz-icon-touxiang:before { content: "\e601"; }
.lz-icon-sanjiaoxing:before { content: "\e614"; }
.lz-icon-jiantou:before { content: "\e755"; }
.lz-icon-hongbao:before { content: "\e644"; }
.lz-icon-yuan-qq:before { content: "\e649"; }
.lz-icon-shijian1:before { content: "\e625"; }
.lz-icon-dingjiatianxiejiage:before { content: "\e619"; }
.lz-icon-wangqiu:before { content: "\e60c"; }
.lz-icon-shibaibiaoqing:before { content: "\e64d"; }
.lz-icon-yifu:before { content: "\e60d"; }
.lz-icon-huishouzhan:before { content: "\e647"; }
.lz-icon-mingpiantongxunlusolid:before { content: "\e639"; }
.lz-icon-ditu:before { content: "\e607"; }
.lz-icon-yemian:before { content: "\e631"; }
.lz-icon-dingwei:before { content: "\e608"; }
.lz-icon-fanhui:before { content: "\e605"; }
.lz-icon-yuedu:before { content: "\e606"; }
.lz-icon-tianjiahaoyou:before { content: "\e63a"; }
.lz-icon-pinglun:before { content: "\e615"; }
.lz-icon-jinggao:before { content: "\e64c"; }
.lz-icon-yinlian:before { content: "\e63b"; }
.lz-icon-yigui:before { content: "\e60e"; }
.lz-icon-guanyu:before { content: "\e62a"; }
.lz-icon-zhiding:before { content: "\e63d"; }
.lz-icon-zoulu:before { content: "\e61a"; }
.lz-icon-kongxing:before { content: "\e60b"; }
.lz-icon-fenxiang:before { content: "\e616"; }
.lz-icon-dui:before { content: "\e651"; }
.lz-icon-cuo:before { content: "\e653"; }
.lz-icon-shangpu:before { content: "\e61c"; }
.lz-icon-duanxin:before { content: "\e60a"; }
.lz-icon-tuijian:before { content: "\e63c"; }
.lz-icon-tingchechang:before { content: "\e64b"; }
.lz-icon-renzheng:before { content: "\e612"; }
.lz-icon-jiantouright:before { content: "\e63e"; }
.lz-icon-shixing:before { content: "\e609"; }
.lz-icon-ren:before { content: "\e61e"; }
.lz-icon-dagoutwo:before { content: "\e617"; }
.lz-icon-suo:before { content: "\e603"; }
.lz-icon-wodekecheng:before { content: "\e63f"; }
.lz-icon-xunzhang:before { content: "\e633"; }
.lz-icon-shouji:before { content: "\e604"; }
.lz-icon-weixin:before { content: "\e621"; }
.lz-icon-xiaogou:before { content: "\e645"; }
.lz-icon-weixin1:before { content: "\e638"; }
.lz-icon-kaiguankai:before { content: "\e634"; }
.lz-icon-bohao:before { content: "\e652"; }
.lz-icon-linyu:before { content: "\e60f"; }
.lz-icon-zhifubao:before { content: "\e61f"; }
.lz-icon-wifi:before { content: "\e610"; }
.lz-icon-date:before { content: "\e640"; }
.lz-icon-dianpu:before { content: "\e611"; }
.lz-icon-dagou:before { content: "\e600"; }
.lz-icon-yinliang:before { content: "\e62b"; }
.lz-icon-youhuijuan:before { content: "\e620"; }
.lz-icon-zan:before { content: "\e623"; }
.lz-icon-guanbi:before { content: "\e624"; }
.lz-icon-shijian2:before { content: "\e646"; }
.lz-icon-yuan-weixin:before { content: "\e64a"; }
.lz-icon-youjianguanli:before { content: "\e62c"; }
.lz-icon-iconshimingrenzhengshenhezhong0101:before { content: "\e641"; }
.lz-icon-lou:before { content: "\e61b"; }
.lz-icon-tuichu:before { content: "\e62d"; }
.lz-icon-icontianjiashuiyinqingchu:before { content: "\e62e"; }
.lz-icon-woshou:before { content: "\e632"; }
.lz-icon-jia:before { content: "\e648"; }
.lz-icon-nan:before { content: "\e613"; }
.lz-icon-nv:before { content: "\e622"; }
.lz-icon-zhanghuanquan:before { content: "\e643"; }
.lz-icon-shezhi:before { content: "\e642"; }
.lz-icon-date1:before { content: "\e64e"; }
.lz-icon-jinggao1:before { content: "\e654"; }
.lz-icon-wode:before { content: "\e650"; }
.lz-icon-jiedianxuanze:before { content: "\e64f"; }
